body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: url('background.png') center/cover no-repeat fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Add this line to prevent scrolling */
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.card {
    max-width: 800px;
    width: 90%;
    padding: 40px; /* Increased padding for better quality */
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8); /* Increased box shadow for a more pronounced effect */
    border-radius: 15px; /* Increased border radius for a smoother look */
    margin: auto;
    position: relative;
    animation: rainbowBorder 5s linear infinite;
}

@keyframes rainbowBorder {
    0% {
        border: 2px solid red;
    }
    16.666% {
        border: 2px solid orange;
    }
    33.333% {
        border: 2px solid yellow;
    }
    50% {
        border: 2px solid green;
    }
    66.666% {
        border: 2px solid blue;
    }
    83.333% {
        border: 2px solid indigo;
    }
    100% {
        border: 2px solid violet;
    }
}

h1 {
    color: #e74c3c;
    font-size: 2em; /* Increased font size for a more prominent heading */
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20px; /* Added margin for better spacing */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Adjusted border radius for consistency */
    margin-top: 20px;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
}
